In [14]:
from hmcollab import directories
from hmcollab.datasets import HMDataset
from hmcollab.directory_tree import HMDatasetDirectoryTree
from hmcollab import splitter

import numpy as np
import pandas as pd

In [3]:
test_data_tree = HMDatasetDirectoryTree(
    base=directories.testdata("fivehundred")
)
test_data = HMDataset(tree=test_data_tree)

In [4]:
selected_customers = test_data.customers.customer_id.unique()[:10]
portion = splitter.CustomerPortion(selected_customers)
trimmed_data = portion.split(test_data)

In [5]:
trimmed_data.customers

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,007006426cbb9f97cc1a13b6e674429f97143ab42ae363...,NaN,NaN,ACTIVE,NONE,46.0,75602e56ba595db5b093b3711109ef2a6de19022776620...
1,0088c308dca455c1c39bbaed8cfcf15a5c8a332a8dc854...,1.0,1.0,ACTIVE,Regularly,28.0,1951d0ddf501d8ba10153cd09c625794c20aac284594a4...
2,01674e3cccc0f92add8d789c546cf942dcafc8751f717a...,NaN,NaN,ACTIVE,NONE,64.0,b1e147a47813b735aef41d40f5b8a34eb26df9905d4208...
3,017e193bc115390f1a2fab5c6909c47be1683519751853...,NaN,NaN,ACTIVE,NONE,31.0,e6c654d525fa69257d00553be28438a1f9a1845e143526...
4,01adb64dfbae7ceca59fe2252906784573b45e5893ff4a...,1.0,1.0,ACTIVE,Regularly,31.0,31028c4dea9a87ef366906938b6e1e2fe104eeded193e7...
5,01d244cd44637b4b2457574c38d5f3e23bada80cf914f1...,1.0,1.0,ACTIVE,Regularly,49.0,95a8d32668c3e040cbc78a28f476aaed84482acf4508c6...
6,01d8e323bcda3d4f42b445712e00542491371c03ab6c3f...,NaN,NaN,ACTIVE,NONE,23.0,1e6787160a4e3fa62d02f4c68785a37a43993a2b9871be...
7,031b7c4b60033601a36b686265d3997a95d6487886cb6e...,NaN,NaN,ACTIVE,NONE,21.0,4f6503b11c8f1b05bfac0c9afb90f23b0c5209f47df493...
8,0323c2aa1e1e0bea7c3fecc9c7568f9b057d3fafec8369...,NaN,NaN,ACTIVE,NONE,26.0,e0ef969e23f84dd9353083956c5c72505031d78abc0642...
9,03483eef7a8f1bfce00cdfa1836aaac7aac5fb6ca3fd7d...,1.0,1.0,ACTIVE,Regularly,58.0,52b6a0de9ec47b8688b9615c3306ee217d181c041dde3d...

In [6]:
customer_df = trimmed_data.customers.loc[:,["customer_id", "age"]]

In [7]:
r = np.random.RandomState(42)
customer_df.age = r.randint(100, size=10)
customer_df

                                         customer_id  age
0  007006426cbb9f97cc1a13b6e674429f97143ab42ae363...   51
1  0088c308dca455c1c39bbaed8cfcf15a5c8a332a8dc854...   92
2  01674e3cccc0f92add8d789c546cf942dcafc8751f717a...   14
3  017e193bc115390f1a2fab5c6909c47be1683519751853...   71
4  01adb64dfbae7ceca59fe2252906784573b45e5893ff4a...   60
5  01d244cd44637b4b2457574c38d5f3e23bada80cf914f1...   20
6  01d8e323bcda3d4f42b445712e00542491371c03ab6c3f...   82
7  031b7c4b60033601a36b686265d3997a95d6487886cb6e...   86
8  0323c2aa1e1e0bea7c3fecc9c7568f9b057d3fafec8369...   74
9  03483eef7a8f1bfce00cdfa1836aaac7aac5fb6ca3fd7d...   74

In [8]:
hex(16)

'0x10'

In [9]:
r = np.random.RandomState(42)
customer_df.age = r.randint(100, size=10)
customer_df

                                         customer_id  age
0  007006426cbb9f97cc1a13b6e674429f97143ab42ae363...   51
1  0088c308dca455c1c39bbaed8cfcf15a5c8a332a8dc854...   92
2  01674e3cccc0f92add8d789c546cf942dcafc8751f717a...   14
3  017e193bc115390f1a2fab5c6909c47be1683519751853...   71
4  01adb64dfbae7ceca59fe2252906784573b45e5893ff4a...   60
5  01d244cd44637b4b2457574c38d5f3e23bada80cf914f1...   20
6  01d8e323bcda3d4f42b445712e00542491371c03ab6c3f...   82
7  031b7c4b60033601a36b686265d3997a95d6487886cb6e...   86
8  0323c2aa1e1e0bea7c3fecc9c7568f9b057d3fafec8369...   74
9  03483eef7a8f1bfce00cdfa1836aaac7aac5fb6ca3fd7d...   74

In [10]:
trimmed_data.transactions

,t_dat,customer_id,article_id,price,sales_channel_id
18,2018-09-21,01674e3cccc0f92add8d789c546cf942dcafc8751f717a...,0653431003,0.167797,1
418,2018-09-29,0088c308dca455c1c39bbaed8cfcf15a5c8a332a8dc854...,0634070002,0.033881,1
419,2018-09-29,0088c308dca455c1c39bbaed8cfcf15a5c8a332a8dc854...,0491912002,0.033881,1
530,2018-10-01,01674e3cccc0f92add8d789c546cf942dcafc8751f717a...,0700828002,0.050831,2
531,2018-10-01,01674e3cccc0f92add8d789c546cf942dcafc8751f717a...,0546721003,0.059305,2
...,...,...,...,...,...
29839,2020-09-22,01d8e323bcda3d4f42b445712e00542491371c03ab6c3f...,0934545001,0.013542,2
29840,2020-09-22,01d8e323bcda3d4f42b445712e00542491371c03ab6c3f...,0573085042,0.033881,2
29841,2020-09-22,01d8e323bcda3d4f42b445712e00542491371c03ab6c3f...,0909059001,0.042356,2
29842,2020-09-22,031b7c4b60033601a36b686265d3997a95d6487886cb6e...,0772902011,0.011898,2
29843,2020-09-22,031b7c4b60033601a36b686265d3997a95d6487886cb6e...,0919037004,0.037220,2

In [11]:
trimmed_data.articles

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
21,0153115020,0153115,OP Strapless^,306,Bra,Underwear,1010016,Solid,12,Light Beige,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Strapless bra in microfibre with underwired, p..."
59,0189654001,0189654,Raven skirt,275,Skirt,Garment Lower body,1010016,Solid,09,Black,...,Basic 1,D,Divided,2,Divided,51,Divided Basics,1002,Jersey Basic,Short jersey skirt with an elasticated waist.
63,0194242047,0194242,HONEY L/L Leggings,273,Leggings/Tights,Garment Lower body,1010016,Solid,09,Black,...,Young Girl Jersey Basic,I,Children Sizes 134-170,4,Baby/Children,79,Girls Underwear & Basics,1002,Jersey Basic,Soft organic cotton jersey leggings with an el...
120,0252298002,0252298,Didi denim,272,Trousers,Garment Lower body,1010016,Solid,09,Black,...,Dresses DS,D,Divided,2,Divided,58,Divided Selected,1013,Dresses Ladies,"Jeans in washed, stretch denim with hard-worn ..."
193,0312829010,0312829,Cobra Tube.,80,Scarf,Accessories,1010020,Contrast,09,Black,...,Scarves,C,Ladies Accessories,1,Ladieswear,65,Womens Big accessories,1019,Accessories,"Tube scarf in a soft knit. Width 60 cm, circum..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16232,0915453001,0915453,Chicago,265,Dress,Garment Full body,1010016,Solid,09,Black,...,Dress,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1013,Dresses Ladies,"Short, A-line dress in woven fabric with a rou..."
16237,0915526001,0915526,Nika vest,252,Sweater,Garment Upper body,1010016,Solid,11,Off White,...,Knitwear,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1003,Knitwear,"Relaxed-fit slipover in a soft, rib-knit cotto..."
16286,0919037004,0919037,Hackney Shacket,262,Jacket,Garment Upper body,1010016,Solid,61,Light Purple,...,Outdoor/Blazers,D,Divided,2,Divided,53,Divided Collection,1007,Outdoor,"Shirt jacket in cotton twill with a collar, bu..."
16458,0934545001,0934545,Airpod case Deco,78,Other accessories,Accessories,1010001,All over pattern,09,Black,...,Other items,C,Ladies Accessories,1,Ladieswear,66,Womens Small accessories,1019,Accessories,Protective case in imitation leather for Airpo...
16471,0936610001,0936610,CLOVER DRESS,265,Dress,Garment Full body,1010001,All over pattern,32,Orange,...,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,Short chiffon dress with a smocked stand-up co...

In [12]:
type(trimmed_data.transactions.t_dat[18])

pandas._libs.tslibs.timestamps.Timestamp

In [20]:
def customer_id(i):
    return f"0{i:x}"

In [22]:
n = 16
ids = [customer_id(i) for i in range(n)]
r = np.random.RandomState(42)
ages = r.randint(100, size=n)
fake_customers = pd.DataFrame.from_dict({"customer_id": ids, "age": ages})
fake_customers

   customer_id  age
0           00   51
1           01   92
2           02   14
3           03   71
4           04   60
5           05   20
6           06   82
7           07   86
8           08   74
9           09   74
10          0a   87
11          0b   99
12          0c   23
13          0d    2
14          0e   21
15          0f   52

In [15]:
fake_customers = pd.DataFrame()